<form class="text-center col-md-6 offset-md-3 d-block text-center">
  <div class="form-group">
    <label for="name" class="display-6">Enter Search Name</label>
    <span class="d-block text-center"> <input type="text" placeholder="Enter Username" required class="form-control" id="name" name="search" [(ngModel)]="searchedUser"></span>
    <br>
    <span class="d-block text-center"><button type="button" class="btn btn-success d-inline" (click)="outputUser()">Search</button> </span></div>
  <br>

</form>

